html, body {
    margin: 0;
    padding: 0; /* отключить margin and padding правило хорошего тона*/
    min-width: 1000px;
    font-family: Arial;
}

h2 {
    font-size: 20px;
    padding: 27px 0 27px 18px;
    margin:0 0 34px;
    border-bottom: 1px solid #e5e5e5;
}

/* верхняя строка бара*/
.fixed-block {
    width: 960px;
    margin: 0 auto;
}
#black-bar {
    background-color: #00122f;
    color: white;
    padding: 20px 0;
    font-size: 16px;
   /* margin: 0 auto;  хитрость CSS, автоматический подбор отступов слева и справа, по вертикале не работает*/
}
#black-bar a {
    color: white;
}
#datetime {
    float: right;
}

/*Шапка*/
#header {
    display:line;
}

#logo{
position: relative;
top: 40px;
float: left;
}
#form-city {
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}

#city {
    border: none;
    outline: none;
}

#weather {
    float: right;
    margin: 40px 0 10px 50px;
}

#weather-img {
position: relative;
top: 5px;
}
#search {
    margin: 40px 0 0 50px;
    float: right;
}
        .serch-site {
            width: 300px;
            height: 45px;
            background-color: #f3f3f3;
            border-radius: 30px;
            border: none;
            padding-left: 15px;
            background-image: url('image/lupa.png');
            background-repeat: no-repeat;
            background-position: 250px;
            outline: none;
        }

    /*Меню навигации*/
 #menu {
        height: 100px;
        margin-bottom: 100px;
    }

#navigation ul {
    margin-top: 50px;
    margin-left: -60px;
    list-style: none;
    display: inline-block;
    width: 960px;
}
#navigation ul li a {
text-decoration: none;
margin-left: 20px;
color:black;
}

#navigation ul li span {
    color: #e5e5e7;
}

#navigation ul li {
    display: inline;
    font-size: 16px;
} 

/*центральный контейнер*/

#central-conteiner {
    padding-top: 20px;
    background-color: #f9f9f9;
    background-image: url('image/central-bg-top.png');
    background-repeat: repeat-x ;
}

#colum-left {
    width: 250px;
    float: left;
    background-color: #ffffff;
}
            .new-item {
                padding-left: 18px;
                margin-bottom: 27px;
                font-size: 14px;
            }

            .news-item-text {
                margin-bottom: 20px;
            }

            .news-item-props {
                font-size: 12px;
                position: relative;
            }
            .news-item-props-one a {
                color: #ffffff;
                text-decoration: none;
            }
            .new-time {
                position: absolute;
                top: 0;
                left: 120px;
                background-image: url('image/icon-time.png');
                background-repeat: no-repeat ;
                padding-left: 15px;
            }
            .news-comments {
                position: absolute;
                top: 0;
                left: 180px;
                background-image: url('image/icon-comments.png');
                background-repeat: no-repeat;
                padding-left: 15px;
            }
            .button-news {
                font-size: 14px;
                width: 180px;
                height: 45px;
                color: #6d95cc;
                background-color: #ffffff;
                border: 1px solid #6d95cc;
                border-radius: 30px;
                outline: none;
            }
            .all-news-button {
                margin: 30px 40px 30px 30px;
            }

#colum-right {
width: 250px;
float: right;
}

#colum-right img {
    margin-bottom: 20px;
}

#colum-center {
margin-left: 20px;
width: 420px;
height: 850px;
float: left;
background-color: #ffffff;
}

            .text-news-one {
                color: #ffffff;
                position: relative;
                bottom: 150px;
                left: 25px;
                font-size: 28px;
            }
            .group-text-news {
                position: relative;
                bottom: 330px;
                left: 25px;
                color: #eff1f4;

            }

            .news-item-props-one {
                font-size: 12px;
                position: relative;
                margin-top: 20px;
            }

            .new-time-one {
                position: absolute;
                top: 0;
                left: 100px;
                padding-left: 15px;
            }

            .news-center-colum {
                position: relative;
                bottom: 150px;
            }

            .img-news-left a,
            .img-news-right a
            {
                color: #000000;
                text-decoration: none;
            }
            .img-news-left {
                float: left;
                height: 240px;
                width: 200px;
                font-size: 13px;
                margin: 0;
                margin-top: 20px;
            }
            .img-news-right {
                float: right;
                height: 240px;
                width: 200px;
                font-size: 13px;
                margin: 0;
                margin-top: 20px;
            }
            .news-item-props-center {
                font-size: 12px;
                position: relative;
                margin-top: 20px;
            }
            .news-item-props-center a {
                color: #91919f;
            }
            .new-time-center {
                position: absolute;
                top: 0;
                left: 100px;
                background-image: url('image/icon-time.png');
                background-repeat: no-repeat ;
                padding-left: 15px;
            }
            .news-comments-center {
                position: absolute;
                top: 0;
                left: 150px;
                background-image: url('image/icon-comments.png');
                background-repeat: no-repeat;
                padding-left: 15px;
            }
#central-conteiner .fixed-block  {
    overflow-y: hidden;
}

/*special news*/

#special-news {
    margin-top: 50px;
}